@import "bootstrap/dist/css/bootstrap.css";

* {
  box-sizing: border-box;
}

:root {
  --bg: #F4F4F4;
  --bgWhite: #FFFFFF;
  --bgMessageIn: #F4F4F4;
  --primary: #5D5FEF;
  --lightText: #666668;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #2C2C2E;
  background: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input, button, textarea {
  font: inherit;
}

ol, ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 26px;
  line-height: 18px;
}

h2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}


p {
  font-size: 12px;
  line-height: 16px;
  color: var(--lightText);
}

input {
  padding: 12px 20px !important;
}

button {
  background-color: var(--primary) !important;
  padding: 10px 30px !important;

  &:hover {
    opacity: .8;
  }

  &:focus {
    opacity: .9;
  }
}
