.header {
  height: 68px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px -1px 0px #E5E5EA;

  &__exit {
    position: absolute;
    top: 0;
    right: 10%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  & p {
    margin-top: 4px;
    margin-bottom: 0;
  }
}

